@import "../../../../../assets/styles/base.scss";
@import "../../../../../assets/styles/colors.scss";
:host {
  .movies-list {
    @extend .list;
    .list-container {
      @extend .container;
    }
  }
  form {
    div {
      width: $width-full;
      display: flex;
      justify-content: center;
      margin: $spacing-md2;
      div {
        @extend .form-div;

        .is-invalid {
          @extend .invalid;
        }
      }
    }
  }
}
