<div class="page-container">
  <div class="menu-container">
    <div class="menu-links">
      <div class="links">
        <div>
          <span><a routerLink="/movies-list">Home</a></span>
        </div>
        <div>
          <span><a routerLink="/add-movie">Add Movie</a></span>
        </div>
        <div>
          <span><a routerLink="/edit-movie">Edit Movie</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="body-container">
    <router-outlet></router-outlet>
  </div>
</div>
