<div class="add-mmovie-container">
  <form #movieForm="ngForm" name="add-movie" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="name">Movie Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        value=""
        [(ngModel)]="movie.name"
        #name="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <label for="date">Date of release</label>
      <input
        type="datetime-local"
        class="form-control"
        name="date"
        value=""
        [(ngModel)]="movie.date"
        #releaseDate="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <label for="actor">Actor Name</label>
      <input
        type="text"
        class="form-control"
        name="actors"
        [(ngModel)]="movie.actors"
        #actor="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <label for="producer">Producer Name</label>
      <input
        type="text"
        class="form-control"
        name="producers"
        [(ngModel)]="movie.producers"
        #producer="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <label for="plot">Plot</label>
      <input
        type="text"
        class="form-control"
        name="plot"
        [(ngModel)]="movie.plot"
        #plot="ngModel"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Add New Movie</button>
    </div>
  </form>
</div>
