@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import "./colors.scss";
$spacing-md: 5px;
$spacing-xs: 8px;
$spacing-md2: 10px;
$spacing-lg: 14px;

$border-width: 1px;
$border-width2: 2px;
$box-shadow: $border-width2 $border-width2 $border-width2 $border-width2 grey;
$width-full: 100%;
$width-half: 50%;
